@(myScheduleList : Form[CusSchedule],myuserlist :List[User],scheduleList1 : List[CusSchedule],fdate: String,ldate: String)
@import java.math.BigInteger; var cat=0; var no=1;
    @import helper._;
    <div class=" panel-default">
        <div class="row">
            <div class="col-xs-3">
        </div>
            <div class="col-md-12 col-xs-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a href="#">ข้อมูลพื้นฐาน</a>
                            /เพิ่มข้อมูลเวรดูเเลศูนย์</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                        @helper.form(action = routes.test.AddSchedule(), 'class -> "form-contorl",'enctype -> "multipart/form-data"){
                            <div class="row">
                                <div class="col-md-3">
                                    <lable name="Sch_date">ระหว่างวันที่</lable><br>
                                    <input type="date" value="@fdate" name="Sch_Date" id="Sch_date" class="form-control">
                                    </div>
                                <div class="col-md-3">
                                    <lable name="Sch_dates">ถึงวันที่</lable><br>
                                <input type="date" value="@ldate" name="Sch_Dates" id="Sch_dates" class="form-control">
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                <lable name="Sch_Timein">เวลาเข้า</lable><br>
                                <input type="text" value="08:00น." name="Sch_Timein"  class="form-control" readonly="readonly">
                                </div>
                                <div class="col-md-3">
                                    <lable name="Sch_Timeout">เวลาออก</lable><br>
                                    <input type="text" value="16:00น." name="Sch_Timeout" class="form-control" readonly="readonly">
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                <select class="form-control" name="user.username" id="list">
                                    @for(us <- myuserlist){
                                        @if(scheduleList1 == null) {
                                                <option value="@us.getUsername"> @us.getMem_name</option>
                                        }else{
                                            @(cat = 0))
                                            @for(sc <- scheduleList1) {
                                                @if(us.getUsername == sc.getUser.getUsername ) {
                                                    @(cat = cat+1)
                                                }
                                            }
                                            @if(cat > 0){
                                            }else{
                                                <option value="@us.getUsername"> @us.getMem_name</option>
                                            }
                                        }
                                    }
                                </select>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                            </div>
                            <input type="submit" value="บันทึก" class="btn btn-success" onclick="return confirm('บันทึกข้อมูล')">
                            <a href="/formSchedule " class="btn btn-danger">ยกเลิก</a>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div class=" panel-default">
    <div class="row">
        <div class="col-xs-3">
        </div>
        <div class="col-md-12 col-xs-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class=  "panel-title">รายการจัดเวรดูเเลศูนย์</h3>
                </div>
                <div class="panel-body">
                    <div class="text-right">
                        <a href="/saveSchedule" class="btn btn-success">ยืนยันการจัดเวร</a>
                    </div>
                    @if(flash.containsKey("nodata")){
                        <div class="alert alert-danger"><strong>ผิดพลาด! </strong>@flash.get("nodata")</div>
                    }

                    <table class="table table-striped custab">
                        <tr>
                            <td>ลำดับที่</td>
                            <td>ระหว่างวันที่</td>
                            <td>ถึงวันที่</td>
                            <td>เวลาเข้า</td>
                            <td>เวลาออก</td>
                            <td>ชื่อสมาชิก</td>
                            <td>ลบ</td>
                        </tr>
                        @if(scheduleList1 == null){
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                        }else{
                            @for(data <- scheduleList1){
                                <tr>
                                    <td>@no</td>
                                    <td>@data.getSch_Date</td>
                                    <td>@data.getSch_Dates</td>
                                    <td>@data.getSch_Timein</td>
                                    <td>@data.getSch_Timeout</td>
                                    <td>@data.getUser.getMem_name</td>
                                    <td class="text-center"><a href="/deleteCusSchedule/@data.getListSch_Id" class="oi oi-trash" onclick="return confirm('คุณต้องการที่จะลบข้อมูลศูนย์นี้ใข่หรือไม่ ? ')"><i class="material-icons " style="color: #9f191f">
    delete
                                    </i></a></td>
                                </tr>
                                @(no=no+1)
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


