<link type="text/css" rel="stylesheet" href="assets/stylesheets/bootstrap3/css/bootstrap.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div class="container">
    <ul class="nav nav-tabs " >
        <li class="active"><a href="/">Home</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Product
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/Pro">Male</a></li>
                <li><a href="/pro1">Female</a></li>
            </ul>
        </li>
        <li><a href="#">Order</a></li>
        <li><a href="#">Promotions</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Curator
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/Form">Add Product Item </a></li>
                <li><a href="#">Import Product</a></li>
            </ul>
        </li>
    </ul>
</div>