
<nav class="navbar navbar-findcond navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ระบบบริหารจัดการศูนย์การเรียนรู้เศรษฐกิจพอเพียง</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><div class="but"> ผู้ใช้งาน : @session.get("username") || <span class="glyphicon glyphicon-user">
                @if(session.get("status") == "admin"){
                    ผู้ดูเเลระบบ
                }else{
                    สมาชิก
                }
               </span></div></li>
                <li class="active"><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
            </ul>

        </div>
    </div>
</nav>