
<!--แถวแรก-->
<div class="row" >
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/1.jpg" alt="^^">
            <div class="caption">
                <h5>G-SHOCK Digital รุ่น DW-5750E-1BDR สีดำ</h5>
                <h5>ราคา  2800 บาท</h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                    <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/3.jpg" width="236" height="345">
            <div class="caption">
                <h5>G-SHOCK Digital รุ่น DW-5600HR-1DR สีดำแดง</h5>
                <h5>ราคา 3570  บาท</h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                    <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/2.jpg" alt="...">
            <div class="caption">
                <h5>G-SQUAD G-SHOCK รุ่น GBA-800-7ADR (White)</h5>
                <h5>ราคา 5015 บาท</h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                    <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>
    <!--สิ้นสุดแถวแรก-->
    <!--แถว2-->
<div class="row" >
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/4.jpg" alt="...">
            <div class="caption">
                <h5>G-SHOCK รุ่น DW-5600CU-9JF</h5>
                <h5>  ราคา 3900 บาท</h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                    <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/5.jpg" alt="...">
            <div class="caption">
                <h5>G-SHOCK รุ่น DW-6900EW-7JF</h5>
                <h5>ราคา 3900 บาท</h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                    <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/6.jpg" alt="...">
            <div class="caption">
                <h5>G-SHOCK รุ่น DW-5600LCU-1JF</h5>
                <h5>  ราคา 3900 บาท</h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                    <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>
    <!--สิ้นสุดแถว2-->
    <!--แถว3-->
<div class="row" >
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/7.jpg" alt="...">
            <div class="caption">
                <h5>G-SHOCK รุ่น GX-56BB-1DR</h5>
                <h5>ราคา 5270  บาท</h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                    <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/8.jpg" alt="...">
            <div class="caption">
                <h5>G-SHOCK รุ่น G-SQUAD Connected GBA-800</h5>
                <h5>ราคา 5500 บาท</h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                    <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/images/9.jpg" alt="...">
            <div class="caption">
                <h5>G-SHOCK รุ่น GA-110BY-1ADR</h5>
                <h5>   ราคา4675 บาท</h5>
                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                    <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>
    <!--สิ้นสุดแถว3-->
