   <div class="row">
       <div class="col-md-12">
           <img src="assets/images/114.JPG">
           <img src="assets/images/112.jpg" alt="Lights">
           <br><br>
       </div>

   </div>
    <!--แถวแรก-->
    <div class="row" style="background-color:#f2f2f2" >
        <div class="col-sm-6 col-md-2">

        </div>
        <div class="col-sm-6 col-md-8">
        <div class="thumbnail">
            <img src="assets/images/113.jpg" alt="...">
            <div class="caption">
                <h5>GULFMASTER Series ซึ่งถูกออกแบบและสร้างมาเพื่อให้ทนต่อสภาพอากาศที่รุนแรงของทะเล มาสู่คอลเลคชันใหม่ของรุ่นเซ็นเซอร์คู่
                    เข็มทิศดิจิตอลอ่านค่าอย่างต่อเนื่องเป็นเวลา 60 วินาทีเพื่อหาแบร์ริงของคุณในทะเล และคุณสมบัติเทอร์โมมิเตอร์ช่วยให้คุณทราบเกี่ยวกับสภาพแวดล้อมรอบตัวคุณอยู่เสมอ คุณสมบัติกราฟแสดงความสูงของคลื่นช่วยให้คุณสามารถตรวจสอบสถานะของคลื่นได้ตลอดเวลา ในขณะที่ตัวระบุลักษณะของดวงจันทร์จะแสดงรูปซึ่งแทนข้อมูลดวงจันทร์ ฟังก์ชันทั้งสองนี้ช่วยสนับสนุนกิจกรรมทางทะเล
                    คุณสมบัติในการเลื่อนเข็มนาฬิกาช่วยเลื่อนเข็มนาฬิกาออกไปชั่วคราวเพียงกดปุ่มเพื่อให้สามารถอ่านข้อมูลที่ปรากฏบนจอดิจิตอลได้ง่ายขึ้น </h5>
                <h5></h5>
                <p></p>

            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-2">

    </div>
    </div>
       <!--สิ้นสุดแถวแรก-->
       <div class="row" style="background-color:#f2f2f2">
           <div class="col-md-12">

           </div>
       </div>
       <!--แถว2-->
   <div class="row" style="background-color:#f2f2f2">
       <div class="col-sm-6 col-md-4">
           <div class="thumbnail">
               <img src="assets/images/115.jpg" alt="...">
               <div class="caption">
                   <h3>PROFESSIONAL</h3>
                   <p></p>

               </div>
           </div>
       </div>

       <div class="col-sm-6 col-md-4">
           <div class="thumbnail">
               <img src="assets/images/116.jpg" alt="...">
               <div class="caption">
                   <h3>GULFMASTER</h3>
                   <p></p>
               </div>
           </div>
       </div>

       <div class="col-sm-6 col-md-4">
           <div class="thumbnail">
               <img src="assets/images/117.jpg" alt="...">
               <div class="caption">
                   <h3>G'MIX</h3>
                   <p></p>
               </div>
           </div>
       </div>
   </div>
       <!--สิ้นสุดแถว2-->
