@(Pro1: Products,Pro2:Products,Pro3:Products,Pro4:Products,Pro5:Products,Pro6:Products)
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="alert alert-warning">
    <h4>Watches for Men</h4>
</div>
    <div class="row" >
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <img src="assets/images/11.jpg" alt="^^">
                <div class="caption">
                    รหัสสินค้า : @Pro1.getPid<br>
                    ชื่อสินค้า : @Pro1.getPname<br>
                    ยี่ห้อ : @Pro1.getPbrand<br>
                    ราคา : @Pro1.getPprice<br>
                    จำนวนคงเหลือ : @Pro1.getPamount<br>
                    <p><a href="#" class="btn btn-primary" role="button" style="background-color: #b92c28">ซื้อ</a>

                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <img src="assets/images/12.jpg" alt="^^">
                <div class="caption">
                    รหัสสินค้า : @Pro2.getPid<br>
                    ชื่อสินค้า : @Pro2.getPname<br>
                    ยี่ห้อ : @Pro2.getPbrand<br>
                    ราคา : @Pro2.getPprice<br>
                    จำนวนคงเหลือ : @Pro2.getPamount<br>
                    <p><a href="#" class="btn btn-primary" role="button" style="background-color: #b92c28">ซื้อ</a>

                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <img src="assets/images/13.jpg" alt="^^">
                <div class="caption">
                            รหัสสินค้า : @Pro3.getPid<br>
                            ชื่อสินค้า : @Pro3.getPname<br>
                            ยี่ห้อ : @Pro3.getPbrand<br>
                            ราคา : @Pro3.getPprice<br>
                            จำนวนคงเหลือ : @Pro3.getPamount<br>
                            <p><a href="#" class="btn btn-primary" role="button" style="background-color: #b92c28">ซื้อ</a>

                        </div>
                    </div>
                </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <img src="assets/images/14.jpg" alt="^^">
                            <div class="caption">
                                รหัสสินค้า : @Pro4.getPid<br>
                                ชื่อสินค้า : @Pro4.getPname<br>
                                ยี่ห้อ : @Pro4.getPbrand<br>
                                ราคา : @Pro4.getPprice<br>
                                จำนวนคงเหลือ : @Pro4.getPamount<br>
                                <p><a href="#" class="btn btn-primary" role="button" style="background-color: #b92c28">ซื้อ</a>

                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-sm-6 col-md-6">
                            <div class="thumbnail">
                                <img src="assets/images/15.jpg" alt="^^">
                                <div class="caption">
                                    รหัสสินค้า : @Pro5.getPid<br>
                                    ชื่อสินค้า : @Pro5.getPname<br>
                                    ยี่ห้อ : @Pro5.getPbrand<br>
                                    ราคา : @Pro5.getPprice<br>
                                    จำนวนคงเหลือ : @Pro5.getPamount<br>
                                    <p><a href="#" class="btn btn-primary" role="button" style="background-color: #b92c28">ซื้อ</a>

                                </div>
                            </div>
                        </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="thumbnail">
                                    <img src="assets/images/16.jpg" alt="^^">
                                    <div class="caption">
                                        รหัสสินค้า : @Pro6.getPid<br>
                                        ชื่อสินค้า : @Pro6.getPname<br>
                                        ยี่ห้อ : @Pro6.getPbrand<br>
                                        ราคา : @Pro6.getPprice<br>
                                        จำนวนคงเหลือ : @Pro6.getPamount<br>
                                        <p><a href="#" class="btn btn-primary" role="button" style="background-color: #b92c28">ซื้อ</a>

                                    </div>
                                </div>
                            </div>

