@(datasale : List[SaleList],total : String)
@import java.math.BigInteger; var total=0;
    @if(flash.containsKey("error")){
        <div class="alert alert-danger"><strong>ผิดพลาด! </strong>@flash.get("error")</div>
    }
    <div class=" panel-default">
        <div class="row">
            <div class="col-xs-3">
            </div>
            <div class="col-md-12 col-xs-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a href="#">รายการขายผลผลิต
                        </a></h3>
                    </div>

                    <div class="panel-body">
                        <td class="col-md-12">

                            <table class="table table-striped custab">
                                <div class="text-center">
                                    <tr>

                                        <th>รหัสผลผลิต</th>
                                        <th>ชื่อผลผลิต</th>
                                        <th>จำนวน</th>
                                        <th>หน่วยนับ</th>
                                        <th>ราคา/หน่วยนับ</th>
                                        <th>ราคารวม</th>

                                    </tr>
                                </div>
                                @for(datauser <-datasale ) {
                                    <tr>
                                        <td>@datauser.getProduct.getPro_Id</td>
                                        <td>@datauser.getProduct.getPro_Name</td>
                                        <td>@datauser.getAmount</td>
                                        <td>@datauser.getProduct.getPro_Unit</td>
                                        <td>@datauser.getPrice</td>
                                        <td>@datauser.getTotal</td>
                                        @(total = total+datauser.getTotal.toInt)
                                        }

                            </table>
                            <p style="font-size:18px" align="right"> รวม : @total </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
